{% extends "layout.html.twig" %}
{% block content %}
<div class="example-wrapper">
    <form method="post" action="">
        <button class="btn btn-primary" type="submit" name="vote" value="up">Positive</button>
        <button class="btn" type="submit" name="vote" value="down">Négative</button>
    </form>
</div>
{% endblock %}
