# Cache and logs (Symfony2)
app/cache/*
app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
app/spool/*

# Cache, session files and logs (Symfony3)
src/var/cache/*
src/var/logs/*
src/var/sessions/*
!src/var/cache/.gitkeep
!src/var/logs/.gitkeep
!src/var/sessions/.gitkeep

# Logs (Symfony4)
src/var/log/*
!src/var/log/.gitkeep

# Parameters
app/config/parameters.yml
app/config/parameters.ini

# Managed by Composer
app/bootstrap.php.cache
src/var/bootstrap.php.cache
src/bin/*
!src/bin/console
!src/bin/symfony_requirements
src/vendor/

# Assets and user uploads
web/bundles/
web/uploads/

# PHPUnit
app/phpunit.xml
phpunit.xml

# Build data
build/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
.web-server-pid
src/vendor/composer/autoload_classmap.php
src/vendor/composer/autoload_psr4.php
src/vendor/composer/autoload_static.php
src/vendor/composer/installed.json
src/vendor/composer/installed.php
src/vendor/doctrine/dbal/README.md
src/vendor/doctrine/dbal/src/Driver/AbstractMySQLDriver.php
src/vendor/symfony/cache/Adapter/RedisTagAwareAdapter.php
src/vendor/symfony/cache/Adapter/TagAwareAdapter.php
src/vendor/symfony/cache/Marshaller/TagAwareMarshaller.php
src/vendor/symfony/cache/Traits/AbstractAdapterTrait.php
src/vendor/symfony/console/Application.php
src/vendor/symfony/doctrine-bridge/composer.json
src/vendor/symfony/doctrine-bridge/ContainerAwareEventManager.php
src/vendor/symfony/error-handler/Resources/views/traces.html.php
src/vendor/symfony/framework-bundle/KernelBrowser.php
src/vendor/symfony/http-kernel/HttpKernel.php
src/vendor/symfony/http-kernel/Kernel.php
src/vendor/symfony/http-kernel/Log/Logger.php
src/vendor/symfony/routing/Router.php
src/vendor/composer/autoload_classmap.php
src/vendor/composer/autoload_psr4.php
src/vendor/composer/autoload_static.php
src/vendor/composer/installed.json
src/vendor/composer/installed.php
src/vendor/doctrine/dbal/README.md
src/vendor/doctrine/dbal/src/Driver/AbstractMySQLDriver.php
src/vendor/symfony/cache/Adapter/RedisTagAwareAdapter.php
src/vendor/symfony/cache/Adapter/TagAwareAdapter.php
src/vendor/symfony/cache/Marshaller/TagAwareMarshaller.php
src/vendor/symfony/cache/Traits/AbstractAdapterTrait.php
src/vendor/symfony/console/Application.php
src/vendor/symfony/doctrine-bridge/composer.json
src/vendor/symfony/doctrine-bridge/ContainerAwareEventManager.php
src/vendor/symfony/error-handler/Resources/views/traces.html.php
src/vendor/symfony/framework-bundle/KernelBrowser.php
src/vendor/symfony/http-kernel/HttpKernel.php
src/vendor/symfony/http-kernel/Kernel.php
src/vendor/symfony/http-kernel/Log/Logger.php
src/vendor/symfony/routing/Router.php
