# Cache and logs (Symfony2)
app/cache/*
app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
app/spool/*

# Cache, session files and logs (Symfony3)
src/var/cache/*
src/var/logs/*
src/var/sessions/*
!src/var/cache/.gitkeep
!src/var/logs/.gitkeep
!src/var/sessions/.gitkeep

# Logs (Symfony4)
src/var/log/*
!src/var/log/.gitkeep

# Parameters
app/config/parameters.yml
app/config/parameters.ini

# Managed by Composer
app/bootstrap.php.cache
src/var/bootstrap.php.cache
src/bin/*
!src/bin/console
!src/bin/symfony_requirements
src/vendor/

# Assets and user uploads
web/bundles/
web/uploads/

# PHPUnit
app/phpunit.xml
phpunit.xml

# Build data
build/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
.web-server-pid
