{% extends "layout.html.twig" %}

{% block title %}Ajouter une annonce{% endblock %}

{% block content %}
    <div class="row align-center">
        <div class="col-xl-6 col-12">
            <h1 class="">Ajouter une annonce</h1>
            {{ include('annonce/form.html.twig', {'button_label': 'Publier'}) }}
        </div>
    </div>
{% endblock %}